# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.unity-circle-project.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\chemical\Documents\Git\unity-circle-project\.idea\.idea.unity-circle-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
